<div class="row form-wrapper">
  <div class="col-md-6 offset-md-3">
    <h1>
      Add contact info
    </h1>
    
    <alert type="success" *ngIf="isSuccess" [dismissible]="true">
      <strong>Well done!</strong> Contact is added successfully !
    </alert>
    <alert type="danger" *ngIf="isError" [dismissible]="true">
      <strong>Oh snap!</strong> Something is wrong while processing your request, please try again
    </alert>

    <form [formGroup]="contactAddForm" (submit)="onSubmit()">
      <div class="form-group" required>
        <label>Name</label>
        <input class="form-control" formControlName="name" placeholder="Enter name" required>
        <div class="invalid-feedback" *ngIf="isSubmited && f.name.errors && f.name.errors.required">
          Name is required !
        </div>
      </div>
      <div class="form-group" required>
        <label>Date of birth</label>
        <input class="form-control" formControlName="dob" type="date" placeholder="Enter date of birth">
        <div class="invalid-feedback" *ngIf="isSubmited && f.dob.errors && f.dob.errors.required">
          Date of birth is required !
        </div>
      </div>
      <div class="form-group" required>
        <label>E-mail</label>
        <input class="form-control" formControlName="email" placeholder="Enter email">
        <div class="invalid-feedback" *ngIf="isSubmited && f.email.errors && f.email.errors.required">
          E-mail is required !
        </div>
        <div class="invalid-feedback" *ngIf="isSubmited && f.email.errors && f.email.errors.pattern">
          E-mail is not valid !
        </div>
      </div>
      <div class="form-group" required>
        <label>Gender</label>
        <select class="form-control" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div class="invalid-feedback" *ngIf="isSubmited && f.gender.errors && f.gender.errors.required">
          Gender is required !
        </div>
      </div>
      <div class="form-group" required>
        <label>Budget</label>
        <input class="form-control" formControlName="budget" type="number" placeholder="Enter budget">
        <div class="invalid-feedback" *ngIf="isSubmited && f.budget.errors && f.budget.errors.required">
          Budget is required !
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
        [disabled]="isLoading">{{isLoading ? 'Loading...' : 'Submit'}}</button>
      <button class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>