<div class="contact-wrapper">
  <h1>
    Contact List
  </h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Budget</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="isLoading">
        <tr>
          <td colspan="6">
            Please wait ....
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="!isLoading && contactList.length === 0">
        <tr>
          <td colspan="6">
            No record found !
          </td>
        </tr>
      </ng-container>

      <tr *ngFor="let contact of contactList; let i = index">
        <th scope="row">{{i+1}}</th>
        <td><a [routerLink]="['/contact/view', contact.id]">{{contact.name}}</a></td>
        <td>{{contact.email}}</td>
        <td>{{contact.gender}}</td>
        <td>{{contact.dob |  date : 'dd-MM-yyyy'}}</td>
        <td>{{contact.budget}}</td>
      </tr>
    </tbody>
  </table>
</div>